body {
    max-width: 1920px;
    margin: 3rem auto;
    text-align: center;
}

textarea {
    margin: 2rem;
    padding: 1rem;
    /* float: right; */
}

.addingfield {
    width: 50%;
    margin: 0rem auto;
}

.addingfield .input {
    width: 30%;
    margin-left: 8rem;
    /* float: left; */
}

.addingfield .btn {
    margin-right: 30%;
    float: right;
}

.addingfield::after {
    content: "";
    clear: both;
    display: table;
}

textarea {
    width: 50%;
    margin: 0rem auto;
    margin-bottom: 2rem;
    padding: 1rem;
    color: blue;

    font-size: 30px;
    border: 4px solid rgb(3, 49, 26);
    border-radius: 20px;

}

p {
    width: 20%;
    margin: 0rem auto;
    padding: 1rem;
    color: rgb(120, 120, 240);

    font-size: 30px;
    font-weight: 60px;
    border: 4px solid rgb(102, 236, 169);
    border-radius: 20px;

}

p:hover {
    background-color: rgb(231, 231, 231);
    box-shadow: 0px 2px 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    background-color: aqua;
    margin: 1rem;
    border: 2px solid rgb(3, 49, 26);
    border-radius: 8px;
    padding: 1rem;
}

button:hover {
    background-color: rgb(221, 149, 149);
    box-shadow: 0px 2px 2px 4px rgba(0, 0, 0, 0.1);
}